.img123{
    position: relative;
    left: 50vw;
    margin-top: 12vh;
    width:45vw;
    height: 75vh;
}
.slogan{
    position: relative;
    top: -65vh;
    left: 5.5vw;
    font-size: 7vh;
    color: black;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    
   
}
.Learning{
    color: blue;
    
}
.text1{
    width: 32vw;
}
.line{
    width: 30vw;
    height: 0.5vh;
    background-color: black;
    position: relative;
    top: -70vh;
    left: 5vw;
}
.subtext{
    position: relative;
    top: -68vh;
    left: 5vw;
    font-size: 3vh;
    color: black;
    opacity: 75%;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
}
.subtext1{
    position: relative;
    top: -72.5vh;
    left: 18vw;
    font-size: 2.5vh;
    color: black;
    opacity: 75%;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    padding-left: 2vw;
    padding-right: 2.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: antiquewhite;
    width: fit-content;
    border-radius: 2vh;
    
}
.Homelogin{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color:rgb(28, 125, 205);
    color: azure;
    font-size: 3vh;
    position: relative;
    top: -66vh;
    left: 6vw;
    border-radius: 2vh;
    text-decoration: none;
}
.Homepart2{
    position: relative;
    top: -65vh;
    left: 30vw;
    width: 80vw;

}
.Allinone{
    font-size: 6vh;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line1{
    width: 30vw;
    height: 0.5vh;
    background-color: rgb(28, 79, 206);
    position: relative;
    top: -5vh;
    left:2.5vw;
}
.allinonetext{
    position: relative;
    top: -5vh;
    left: -20vw;
    font-size: 3.5vh;
    color: black;
    opacity: 75%;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    text-align: center;
}
.Homecards{
    display: flex;
    flex-direction: row;
}
.card{
    width: 20vw;
    height: 65vh;
    background-color:antiquewhite ;
    border-radius: 2vh;
    position: relative;
    top: -60vh; 
    left: 13vw;
    margin-right: 5vw;  
}
.cardhead{
    position: relative;
    color:black;
    opacity: 75%;
    font-size: 3vh;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    text-align: center;

}
.cardtext{
    position: relative;
    width: 18vw;
    left: 1vw;
    color:black;
    opacity: 75%;
    font-size: 3vh;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    text-align: center;
    
}

.cardicon{
    padding: 3vh;
    
    border-radius: 6vh;
    background-color: rgb(236, 226, 139);
    position: relative;
    left: 7vw;
}
.Homepart3{
    position: relative;
    top: -50vh;
    left:13vw;
    width: 80vw;
}
.home3head{
    position: relative;
    /* text-align: center; */
    left: 25vw;
    font-size: 6vh;
    font-weight:400;
    width: 100vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line2{
    width: 30vw;
    height: 0.5vh;
    background-color: rgb(28, 79, 206);
    position: relative;
    top: -5vh;
    left: 23vw;
}
.home3text{
    position: relative;
    top: -5vh;
    /* left: -20vw; */
    font-size: 3.5vh;
    color: black;
    opacity: 75%;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    text-align: center;
}
.bottomimg{
    width: 40vw;
    height: 30vw;
    position: relative;
    top: -50vh;
}
.bottomtext{
    position: relative;
    top: -100vh;
    left: 50vw;
    color:black;
    opacity: 75%;
    font-size: 6vh;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
}